spring:
  application:
    name: task-tracking-api
  datasource:
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  flyway:
    baseline-on-migrate: true
    validate-on-migrate: true
    enabled: true
logging:
  level:
    org.flywaydb.core: DEBUG