spring:
  profiles:
    active: local
  application:
    name: task-tracking-api
  datasource:
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
  flyway:
    baseline-on-migrate: true
    validate-on-migrate: true
    enabled: true
app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-ms: 900000
    refresh-token-expiration-ms: 604800000

schedule:
  refresh-token-cleanup-schedule-time: "0 59 23 * * *"
  overdue-task-schedule-time: "0 49 14 * * *"
